#
# Copyright (c) 2024 The contributors to the LICHEN project
# SPDX-License-Identifier: Apache-2.0
#

config LORA_LR1110
	bool "Semtech LR1110 driver"
	default y
	depends on DT_HAS_SEMTECH_LR1110_ENABLED
	select SPI
	help
	  Enable driver for the Semtech LR1110 LoRa modem.
	  Uses the lr1110_driver library from the loramac-node module.
