# SPDX-License-Identifier: GPL-3.0-or-later

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

# 32 kHz XTAL present
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y

CONFIG_GPIO=y
CONFIG_SPI=y

# USB CDC-ACM console (native USB)
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_CDC_ACM=y
CONFIG_UART_CONSOLE=y
CONFIG_CONSOLE=y
