/*
 * Heltec Mesh Node T114 device tree overlay for LICHEN bridge
 *
 * nRF52840 + SX1262 LoRa + optional 1.14" ST7789 TFT + L76K GPS
 *
 * SX1262 SPI pins:
 *   MOSI  = P0.22
 *   MISO  = P0.23
 *   SCK   = P0.19
 *   NSS   = P0.24
 *
 * SX1262 control pins:
 *   RESET = P0.25
 *   BUSY  = P0.17
 *   DIO1  = P0.20
 *   VEXT  = P0.21 (external power control)
 *
 * GPS L76K UART (optional module):
 *   RX    = P1.05 (37)   PPS     = P1.04 (36)
 *   TX    = P1.07 (39)   STANDBY = P1.02 (34)
 *
 * ST7789 Display (optional accessory):
 *   MOSI  = P1.09 (41)   DC      = P0.12
 *   SCK   = P1.08 (40)   RST     = P0.02
 *   CS    = P0.11        BL      = P0.15
 *
 * User button: P1.10 (active low)
 * LED: Green P1.03
 * Battery ADC: P0.04 (control: P0.06)
 */

#include <zephyr/dt-bindings/lora/sx126x.h>

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	aliases {
		led0 = &green_led;
		lora0 = &lora;
		sw0 = &button0;
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_0 {
			gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio1 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "User Button";
		};
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

/* SX1262 on SPI2 */
&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;  /* P0.24 = NSS */

	lora: sx1262@0 {
		compatible = "semtech,sx1262";
		reg = <0>;
		spi-max-frequency = <8000000>;
		reset-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;   /* P0.25 = RST */
		busy-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;   /* P0.17 = BUSY */
		dio1-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;   /* P0.20 = DIO1 */
		/* DIO2 controls RF switch internally */
		dio2-tx-enable;
		/* 1.8V TCXO controlled by DIO3 */
		dio3-tcxo-voltage = <SX126X_DIO3_TCXO_1V8>;
		tcxo-power-startup-delay-ms = <5>;
	};
};

&pinctrl {
	spi2_default: spi2_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 19)>,
				<NRF_PSEL(SPIM_MOSI, 0, 22)>,
				<NRF_PSEL(SPIM_MISO, 0, 23)>;
		};
	};

	spi2_sleep: spi2_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 19)>,
				<NRF_PSEL(SPIM_MOSI, 0, 22)>,
				<NRF_PSEL(SPIM_MISO, 0, 23)>;
			low-power-enable;
		};
	};
};
