# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: The contributors to the LICHEN project

# LICHEN protocol subsystem Kconfig

menuconfig LICHEN
	bool "LICHEN protocol stack"
	help
	  Enable the LICHEN (LoRa IPv6 CoAP Hybrid Extended Network)
	  protocol stack for mesh networking over LoRa.

if LICHEN

rsource "coap/Kconfig"
rsource "crypto/Kconfig"
rsource "edhoc/Kconfig"
rsource "hal/Kconfig"
rsource "link/Kconfig"
rsource "meshtastic/Kconfig"
rsource "l2/Kconfig"
rsource "oscore/Kconfig"
rsource "schc/Kconfig"
rsource "senml/Kconfig"
rsource "rpl/Kconfig"

endif # LICHEN
