# SPDX-License-Identifier: GPL-3.0-or-later

if BOARD_T_DECK_ESP32S3_PROCPU

config HEAP_MEM_POOL_ADD_SIZE_BOARD
	int
	default 131072 if LVGL
	default 65535 if WIFI && BT
	default 51200 if WIFI
	default 40960 if BT
	default 8192

endif

if BOARD_T_DECK_ESP32S3_APPCPU

config HEAP_MEM_POOL_ADD_SIZE_BOARD
	default 256

endif
