# SPDX-License-Identifier: GPL-3.0-or-later

config BOARD_T_DECK
	select SOC_ESP32S3_R8
	select SOC_ESP32S3_PROCPU if BOARD_T_DECK_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_T_DECK_ESP32S3_APPCPU
