# SPDX-License-Identifier: GPL-3.0-or-later

CONFIG_MAIN_STACK_SIZE=8192

CONFIG_CLOCK_CONTROL=y
CONFIG_CONSOLE=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_GPIO=y
CONFIG_SERIAL=y
CONFIG_SPI=y
CONFIG_UART_CONSOLE=y
CONFIG_I2C=y
CONFIG_INPUT=y
CONFIG_DISPLAY=y
CONFIG_ST7789V=y
